<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="PamiRef" connectionString="Server=.\SQLExpress;AttachDbFilename=C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\PAMI_REF.mdf;Database=PAMI_REF;Trusted_Connection=Yes;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" />
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite"
 type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="trace" xsi:type="Trace" layout="${message}" />
      <target name="file" xsi:type="File" fileName="${basedir}\general.log" layout="${longdate} | ${message}" />
      <target name="AsyncFileNHibernateSQL" xsi:type="AsyncWrapper">
        <target name="nhibernateSQLfile" xsi:type="File" fileName="${basedir}\NHibernateSQL.log" layout="[NHibernate.SQL] ${longdate} | ${message}" archiveFileName="NHibernateSQL.{#####}.log" archiveAboveSize="52428800" archiveNumbering="Sequence" encoding="UTF-8" />
      </target>
      <target name="AsyncFileNHibernateMapping" xsi:type="AsyncWrapper">
        <target name="nhibernatefile" xsi:type="File" fileName="${basedir}\NHibernateMapping.log" layout="[NHibernateMappings] ${longdate} | ${message}" archiveFileName="NHibernateMapping.{#####}.log" archiveAboveSize="5242880" archiveNumbering="Sequence" encoding="UTF-8" />
      </target>
    </targets>
    <rules>
      <!--<logger name="SomeNameSpace.Component.*" level="Info" writeTo="trace" final="true" />-->
      <logger name="NHibernate.SQL" minlevel="Debug" writeTo="trace" final="true" />
      <logger name="NHibernate" minlevel="Debug" writeTo="trace" final="true" />
      <logger name="Profertil.ProLab.Infraestructura.DataAccess.Base.NHibernate.ModelMappingBuilder" minlevel="Debug" writeTo="trace" />
      <logger name="*" minlevel="Debug" writeTo="trace" />
    </rules>
  </nlog>
  <appSettings>
    <add key="nhibernate-logger" value="Pami.DotNet.ReferenceArchitecture.DataAccess.Base.NHibernateLoggerFactory, Pami.DotNet.ReferenceArchitecture.DataAccess_NH"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>